body {
	font-family: Muli,Helvetica,Arial,sans-serif;
}

p, li, a, span {
	color: #3F3A39;
	font-weight: 300;
	letter-spacing: 2px;
	font-family: Muli,Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Muli,Helvetica,Arial,sans-serif;
	text-transform: none;
	font-weight: 300;
	color: #3F3A39;
	letter-spacing: 2px;
}

a:hover, a:active, a:focus, a:visited {
	text-decoration: none;
}

section h2 {
	text-transform: uppercase;
}

nav hr {
	margin-top: 0px;
	margin-bottom: 0px;
}

@media (min-width: 768px) {
	.navbar-custom.affix {
	padding-bottom: 0px;
	}
}

.navbar-custom {
	background: #FFF;
	font-family: Muli,Helvetica,Arial,sans-serif;
	text-transform: uppercase;
	border: none;
}

.navbar-custom .navbar-brand, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand:focus {
	color: #3F3A39;
}

.navbar-custom .navbar-brand:hover {
	color: #3F3A39;
	opacity: 0.5;
}

.navbar-custom .navbar-toggle, .navbar-custom .navbar-toggle:active, .navbar-custom .navbar-toggle:focus {
	color: #3F3A39;
	text-transform: uppercase;
	font-size: 10px;
	border-color: #3F3A39;
}

.navbar-custom .navbar-toggle:hover {
	background-color: #FFF;
	color: #3F3A39;
	border-color: #3F3A39;
	opacity: 0.5;
}

.navbar-custom .navbar-nav li a, .navbar-custom .navbar-nav li a:active, .navbar-custom .navbar-nav li a:focus {
	color: #3F3A39;
	background: #FFF;
}

.navbar-custom .navbar-nav li.active a, .navbar-custom .navbar-nav li.active a:active, .navbar-custom .navbar-nav li.active a:focus {
	color: #EE6471;
	background: #FFF;
}

.navbar-custom .navbar-nav li.hover a, .navbar-custom .navbar-nav li.hover a:active, .navbar-custom .navbar-nav li.hover a:focus {
	color: #3F3A39;
	background: #FFF;
}

.navbar-custom .navbar-nav li.active a:hover {
	color: #EE6471;
	background: #FFF;
	opacity: 0.5;
}

.navbar-custom .navbar-nav li a:hover {
	color: #3F3A39;
	background: #FFF;
	opacity: 0.5;
}

header {
  text-align: center;
  background: #FFF;
  color: #3F3A39;
}

header .container {
  padding-top: 250px;
  padding-bottom: 250px;
}

header .intro-text .name {
  display: block;
  font-family: Muli,Helvetica,Arial,sans-serif;
  text-transform: none;
  font-weight: 300;
  font-size: 6em;
  color: #EE6471;
}

header .intro-text .skills {
  font-size: 2em;
  font-weight: 300;
}

@media (min-width: 768px) {
  header .container {
	padding-top: 250px;
	padding-bottom: 235px;
  }
  header .intro-text .name {
	font-size: 8em;
  }
  header .intro-text .skills {
	font-size: 3.5em;
  }
}

#portfolio {
  background: #E05E6B;
  color: #FFF;
}

#portfolio h1, #portfolio h2, #portfolio h3, #portfolio h4, #portfolio h5, #portfolio h6, #portfolio p, #portfolio span {
	color: #FFF;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

#portfolio article { 
    min-width: 100%;
    width: 100%;
    position: relative;
    border: 1px solid #FFF;
    font-size: 1.75em;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2px 15px;
}

@media (min-width: 768px) {
	#portfolio article { 
	    font-size: 2em;
	}
}

#portfolio article:hover {
	opacity: 0.50;
}

article .project {
    font-weight: 500;
}

article .description {
    font-weight: 300;
}

.portfolio-modal .modal-content h2 {
    color: #E05E6B;
}

.carousel-control {
	opacity: 1;
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .glyphicon-chevron-left {
    color: #FFF;
}

.carousel-control .glyphicon-chevron-right:active, .carousel-control .glyphicon-chevron-right:hover, .carousel-control .glyphicon-chevron-right:focus, .carousel-control .glyphicon-chevron-right:visited, .carousel-control .glyphicon-chevron-left:active, .carousel-control .glyphicon-chevron-left:hover, .carousel-control .glyphicon-chevron-left:focus, .carousel-control .glyphicon-chevron-left:visited {
    color: #FFF;
    opacity: 0.5;
}

.carousel-control .glyphicon-chevron-right {
    right: 45%;
}

.carousel-control .glyphicon-chevron-left {
    left: 45%;
}

.carousel-indicators {
	margin-top: 50px;
	margin-bottom: 0px;
	bottom: 0px;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #EE6471;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #EE6471;
}

.modal-body p {
	font-size: 1.0em;
}

.modal-body ul {
	font-size: 0.75em;
}

.modal-content .item {
	min-height: 300px;
	max-height: 450px;
}

.modal-content img {
	max-height: 450px;
	margin: auto;
	display: block;

}

@media (min-width: 768px) {
	.modal-body p {
		font-size: 1.25em;
	}
	.modal-body ul {
		font-size: 1.0em;
	}
}

#contact .col-lg-8 {
	padding-top: 25px;
}

.help-block {
	color: #EE6471;
}

.help-block li {
	list-style-type: none;
}

.btn-success:active, .btn-success:hover, .btn-success:focus, .btn-success:visited, .btn-success:active:focus {
	background-color: #EE6471;
	border-color: #EE6471;
	opacity: 0.5;
}

footer h1, footer h2, footer h3, footer h4, footer h5, footer h6, footer p {
	color: #FFF;
}

footer .footer-above, footer .footer-below {
	background-color: #E05E6B;
}

footer .footer-col {
	margin-bottom: 15px;
}

footer ul {
	padding-left: 0px;
}

footer li {
	display: inline-block;
	padding: 0px 25px;
}

.footer-below p {
	font-size: 14px;
}
